<GridLayout class="home-container" rows="*,auto,auto">
    <StackLayout [class.shield-on]="isProtected" [class.shield-off]="!isProtected" class="shield-base"
        (tap)="onShieldTap()">

        <Label class="fas shield-icon" [text]="isProtected ? '\uf3ed' : '\uf3ed'"></Label>

        <Label text="Protection" class="shield-text-protection"></Label>

        <Label [text]="isProtected ? 'On' : 'Off'" class="shield-text-on-off"></Label>
    </StackLayout>


    <StackLayout row="1" class="statistics-container">
        <label class="stats-header">Key Stats</label>
        <FlexboxLayout class="stats-wrapper" flexWrap="wrap">
            <StackLayout *ngFor="let stat of stats" class="stats-block" horizontal-alignment="center"
                vertical-alignment="middle">
                <label class="fas stat-icon" [text]="stat.icon"></label>
                <Label [text]="stat.title" class="stat-title" textWrap="true"></Label>
                <Label [text]="stat.count" class="stat-count"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>

    <StackLayout row="2" class="focus-section">
        <Label text="Focus Mode" class="focus-header"></Label>

        <GridLayout columns="*, *" class="focus-btn-container">
            <Button col="0" (tap)="showFocusModal()" class="focus-btn start-btn">
                <FormattedString>
                    <Span text="&#xf04b;" class="fas"></Span>
                    <Span text="  Start"></Span>
                </FormattedString>
            </Button>

            <Button col="1" (tap)="showScheduleModal()" class="focus-btn schedule-btn">
                <FormattedString>
                    <Span text="&#xf251;" class="fas"></Span>
                    <Span text="  Schedule"></Span>
                </FormattedString>
            </Button>
        </GridLayout>
    </StackLayout>
</GridLayout>